/* CSS declarations go here */
.votes {
	.group {
		width: 31%;
		display: inline-block;
		background-color: gainsboro;
		border-radius: 15px;
		margin: 1%;
		padding: 1%;
		vertical-align: top;

		h3 {
			cursor: pointer;
		}
	}
}

