/* CSS declarations go here */
html, body {
	height: 100%;
}

.votes {
	.group {
		width: 47%;
		display: inline-block;
		background-color: gainsboro;
		border-radius: 15px;
		margin: 1%;
		padding: 1%;
		vertical-align: top;

		h3 {
			cursor: pointer;
		}
	}
}

body > div.container {
	height: 100%;
}

.detail {
	position: relative;

	.online {
		position: fixed;
		bottom: 0;
		width: 50%;
		left: 25%;
		max-height: 70px;
		text-align: center;
		overflow: auto;
	}
}

.messages {
	padding-top: 35px;
	position: relative;

	ul {
		list-style: none;
		padding: 0;
		height: 280px;
		overflow: auto;


		li {
			border-bottom: 1px black solid;
			margin-bottom: 10px;
		}

		.user { font-size: smaller; }
		.msg { font-size: large; text-align: right;}
	}

	form {
		position: absolute;
		top: 0px;
		width: 100%;
		background-color: white;

		input.message { width: 200px; }
	}
}

